<html>
<head>
	<title>Health Monitoring Analytics</title>
	<!-- Stylesheet -->
	<link rel="stylesheet" href="/static/css/bootstrap.css">
	<link rel="stylesheet" href="/static/css/font-awesome.css">
	<link rel="stylesheet" href="/static/css/bootstrap-social.css">

	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script src="jquery-1.11.1.min.js"></script>

</head>

<body>
	<div class="jumbotron" align="center">
		<h1>HMA Twitter Backend</h1>
		<p>This is twitter backend for monitoring and analyze the data</p>
		<p> Total Tweet Fetched : {{ tweets }} </p>
		<a href="/add/">Fetch</a>
	</div>

	<div class="container">
		<h3>Initial Data Analysis - Data curated from keyword : running</h3>

		<p>Initially we curated data from word running, we curated almost 3000 tweets then we analyzed it</p>
		<ul>
			<li>Initially we tokenize the tweets using NLTK and Regular Expression i.e remove mention, hashtag, @ etc even the number 1000, 1,000 (mixing)</li>
			<li>Then filter out stop words like on, in (NLTK has great implementation on this)</li>

			<li>Calculate the frequence of words (i.e running : 3000, health : 345 etc..)</li>
			<li>merge inter dependent / lexicon word (like ran, run, running)</li>
			
			<li>Created bigrams and checked its frquency (i.e running health : 345, running exercise : 786)</li>
			<li>Implement classification stuff (few supervised thing)</li>
			<li>We implemented semantic orientation for vocabulary to detect few semantic meanings</li>
			<li> </li>
			
		</ul>

		<style>

			.chart div {
			  font: 10px sans-serif;
			  background-color: #ca072d;
			  text-align: right;
			  padding: 3px;
			  margin: 1px;
			  color: white;
			}
		</style>
		<div class="chart">
		  	<div style="width: 600px;">100% curated tweet</div>
		  	<div style="width: 228px;">38% accurate data based on analysis</div>
		  	
		</div>

		<h4> Word Classification on tweet analysis</h4>

		<div class="chart">
			<div style="width: 600px;">3000 tweets</div>
		  	<div style="width: 254px;">1267 tweets (running mile)</div>
		  	<div style="width: 230px;">897 tweets ( runnign fitness )</div>
		  	<div style="width: 162px;">812 tweets ( running exercise )</div>
		  	<div style="width: 112px;">564 tweets ( running exercise fitness )</div>
		</div>

		</br>
		</br>

		<h4> Word Classification on correct tweet</h4>
		<div class="chart">
			<div style="width: 600px;">1140 tweets</div>
		  	<div style="width: 140px;">267 tweets (running mile)</div>
		  	<div style="width: 100px;">191 tweets ( runnign fitness )</div>
		  	<div style="width: 123px;">234 tweets ( running exercise )</div>
		  	<div style="width: 235px;">448 tweets ( running exercise fitness )</div>
		</div>

		<p> We implemented then some probabilisting approach to decide next keyword by detecting keyword ngrams in all the accurate tweets </p>

	</div>
	
	<div class="container">	
		<h2>Naive Adaptive Data Analysis ( Adaptive Keyword selection ) </h2>
		</div>

	<div class="container">
		<h3>Data Curated from keyword : running exercise</h3>

		<style>

			.chart div {
			  font: 10px sans-serif;
			  background-color: #ca072d;
			  text-align: right;
			  padding: 3px;
			  margin: 1px;
			  color: white;
			}
		</style>
		<div class="chart">
		  	<div style="width: 600px;">3000</div>
		  	<div style="width: 286px;">1487</div>

		 </div>
		 <p> Accuracy : almost 50% </p>


		  	<!-- <div style="width: 150px;">15</div>
		  	<div style="width: 160px;">16</div>
		  	<div style="width: 230px;">23</div>
		  	<div style="width: 420px;">42</div> -->
		</div>

		<div class="container">

		<h3>Data Curated from keyword : running miles</h3>

		<div class="chart">
		  	<div style="width: 600px;">3000</div>
		  	<div style="width: 374px;">1867</div>

		 </div>
		 <p> Accuracy : almost 63% </p>

		</div>


		<div class="container">
		<h3>Data Curated from keyword : running fitness exercise</h3>


		<div class="chart">
		  	<div style="width: 600px;">3000</div>
		  	<div style="width: 493px;">2466</div>

		 </div>
		 <p> Accuracy : almost 82% </p>

		</div>
		</div>



	</div>



	<div class="container">
		<h2>Current Analysis Scheme / Modeling and Analysis</h2>
		<h3>Initial Data Analysis - Data curated from keyword for SVM: running exercise</h3>
		<ul>
			<li>We implemented SVM supervised learning.</li>
			<li>We got the required tweet data to be valid or invalid</li>
			<li>This valid tweet data was passed to the Boltzman Machine to get the next accurate keyword</li>
			<li>This keyword/combination of words was then passed through SVM and as we can seen the accuracy rate increased</li>
		</ul>
	</div>

	<div class="container">
		<h2>1-Running</h2>
		<h3>First Iteration</h3>
		
		<h3>Analysis on the keyword: running exercise</h3>

		<style>

			.chart div {
			  font: 10px sans-serif;
			  background-color: #ca072d;
			  text-align: right;
			  padding: 3px;
			  margin: 1px;
			  color: white;
			}
		</style>
		<div class="chart">
		  	<div style="width: 600px;">3000</div>
		  	<div style="width: 310px;">1630</div>

		 </div>
		 <p> Accuracy : almost 54% </p>

		</div>

		<div class="container">
			<h3>Word Recommended from the Boltzman Machine</h3>
			<h4>recommended combination of words: running miles</h4>

		</div>

		<div class="container">
		<h3>Second Iteration</h3>
		<h3>Analysis on the keyword: running miles</h3>

		<style>

			.chart div {
			  font: 10px sans-serif;
			  background-color: #ca072d;
			  text-align: right;
			  padding: 3px;
			  margin: 1px;
			  color: white;
			}
		</style>
		<div class="chart">
		  	<div style="width: 600px;">3000</div>
		  	<div style="width: 356px;">2060</div>

		 </div>
		 <p> Accuracy : almost 67.5% </p>

		</div>

		<div class="container">
		<h2>2-Swimming</h2>
		<h3>First Iteration</h3>
		
		<h3>Analysis on the keyword: Swimming calories</h3>

		<style>

			.chart div {
			  font: 10px sans-serif;
			  background-color: #ca072d;
			  text-align: right;
			  padding: 3px;
			  margin: 1px;
			  color: white;
			}
		</style>
		<div class="chart">
		  	<div style="width: 600px;">3000</div>
		  	<div style="width: 290px;">1533</div>

		 </div>
		 <p> Accuracy : almost 50% </p>

		</div>

		<div class="container">
			<h3>Word Recommended from the Boltzman Machine</h3>
			<h4>recommended combination of words: swimming hour calories</h4>

		</div>

		<div class="container">
		<h3>Second Iteration</h3>
		<h3>Analysis on the keyword: swimming hour calories</h3>

		<style>

			.chart div {
			  font: 10px sans-serif;
			  background-color: #ca072d;
			  text-align: right;
			  padding: 3px;
			  margin: 1px;
			  color: white;
			}
		</style>
		<div class="chart">
		  	<div style="width: 600px;">3000</div>
		  	<div style="width: 380px;">2300</div>

		 </div>
		 <p> Accuracy : almost 78% </p>

		</div>

		<div class="container">
		<h2>3-Gym</h2>
		<h3>First Iteration</h3>
		
		<h3>Analysis on the keyword: Gym Workout</h3>

		<style>

			.chart div {
			  font: 10px sans-serif;
			  background-color: #ca072d;
			  text-align: right;
			  padding: 3px;
			  margin: 1px;
			  color: white;
			}
		</style>
		<div class="chart">
		  	<div style="width: 600px;">3000</div>
		  	<div style="width: 200px;">990</div>

		 </div>
		 <p> Accuracy : almost 33% </p>

		</div>

		<div class="container">
			<h3>Word Recommended from the Boltzman Machine</h3>
			<h4>recommended combination of words: Gym Workout Hours</h4>

		</div>

		<div class="container">
		<h3>Second Iteration</h3>
		<h3>Analysis on the keyword: Gym Workout Hours</h3>

		<style>

			.chart div {
			  font: 10px sans-serif;
			  background-color: #ca072d;
			  text-align: right;
			  padding: 3px;
			  margin: 1px;
			  color: white;
			}
		</style>
		<div class="chart">
		  	<div style="width: 600px;">3000</div>
		  	<div style="width: 375px;">2200</div>

		 </div>
		 <p> Accuracy : almost 75% </p>

		</div>

		<h3></h3>


		<div class="container">
			<h2>Machine Learning Procedure (SVM)</h2>

			<p>Previously we did naive adaptive learning approach</p>


<p>Theoretically well motivated algorithm: developed from Statistical Learning Theory (Vapnik & Chervonenkis) since the 60s.</p>

<p>Empirically good performance: successful applications in many fields (bioinformatics, text, image recognition, . . . )</p>

basic idea of SVM in layman terms find the separation between two set of values so that margin from set of values to separation plain become maximum

impose more variable that affect ours analysis 

<h3>What we did</h3>
<ul>
	<li>trained first </li>

<li>5000 + supervised tweet </li>

<li>trained it </li>

<li>then processed 20k + tweets </li>

<li>collect accurate tweets</li>

<li>those accurate tweets we monitored again and sampled them ( human corrected tweets )</li>

<li>merge those tweets to initial 5000 tweets </li>

<li>train the model again</li>

</ul>
		

<h3>More Analysis</h3>
<ul>
	<li>So here we take tokens of the tweets as input </li>

<li>Every token has its own semantic value based on semantic analysis we did (i.e running 9, precidency -7 based on the analysis how the occurance of those words in correct and incorrect tweets) </li>

<li>so now every tweet we have some set of values </li>

<li>we impleted SVM and based on we calculated the support vector</li>

<li>Everytime we run this that produce different accurate vector</li>

<li>so sometimes when words are too much interrelated might produce incorrect result thats what we found after seeing analysed tweets </li>

<li>moved to non linear instead of linear </li>

<li>we used Kernal method </li>

<li>Kernal method is used for finding and studying general types of relations (for example clusters, rankings, principal components, correlations, classifications) in datasets -> And thats what exactly we want </li>

<li>so we created cluster based of semantic orientation based on the rating schema and also do classifications </li>
</ul>
</div>
</body>
</html>
